
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    line-height: 1.7px;
    font-size:small;
    font-family: 'Mali', cursive;
}

/* .head{
    display: flex;
    flex-direction: column;
} */

/* Navigation bar */
.nav-bar{
    padding: 0px 14px;
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 16px;
    color: white;
    display: flex;
    align-items: center;
}

.logo img{
    /* width: 30px; */
    height: 30px;
    margin-right: 5px;
}

ul{
    display: flex;
    margin-right: 16;
}

ul li a{
    color: white;
    text-decoration: none;
    margin: 0px 8px 0px 8px;
}

ul li a:hover{
    color: brown;
}
/* 
.col-1{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.col-1 img{
    width: 400px;
}

.sign-up{
    display: flex;
    flex-direction: column;
    border: 2px soild red;
    padding: 20px;
    white-space: normal;
}

.sign-up h2{
    width: 500px;
    padding: 5px;
    margin: 5px;
    white-space: nowrap;
}

.sign-up p{
    width: 500px;
    padding: 10px; */
    /* white-space: nowrap;    Fixes the text overlapping issue
    line-height: 30px;      /*   Fixes the text overlapping issue
}




